:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --black-color: #000000;
  --additional-color-section: #f5f4fa;
  --footer-color: #2f303a;
  --links-color: rgba(255, 255, 255, 0.6);
  --font-weight-title: 700;
  --main-margin: 30px;
}
body {
  background: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* header */
.main-nav {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #ececec;
}
.logo {
  color: var(--black-color);

  font-family: 'Raleway', sans-serif;
  font-weight: var(--font-weight-title);
  font-size: 26px;
  line-height: 1.2;
}

.decoration {
  color: var(--accent-color);
}
/* site nav */
.nav {
  display: flex;
  margin-left: 93px;
}
.nav-item + .nav-item {
  margin-left: 50px;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts-item + .contacts-item {
  margin-left: 50px;
}
.contacts-link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  text-align: center;
}
.hero-container {
  background: var(--footer-color);
}
.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: var(--main-margin);
}
/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section:nth-child(3) {
  padding-top: 0;
}
.section-title {
  color: var(--title-text-color);

  font-weight: var(--font-weight-title);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}
/* features */
.features {
  display: flex;
  flex-wrap: wrap;
}
.features-title {
  color: var(--title-text-color);

  font-weight: var(--font-weight-title);
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-item {
  width: 270px;
  background: #fff;
  margin-right: var(--main-margin);
}
.features-item:nth-child(4n) {
  margin-right: 0;
}
/* we-do */
.we-do {
  display: flex;
}
.we-do-item {
  margin-right: var(--main-margin);
}
.we-do-item:nth-child(3n) {
  margin-right: 0;
}

/* team */
.team-section {
  background: var(--additional-color-section);
}
.team {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;

  display: flex;
}
.team-item {
  margin-right: var(--main-margin);
}
.team-item :nth-child(4n) {
  margin-right: 0;
}
.team-img {
  margin-bottom: var(--main-margin);
}
.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}
/* footer */
.footer {
  background: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  color: var(--primary-white-color);
  display: inline-block;
  margin-bottom: 20px;
}
.address {
  color: var(--primary-white-color);
  font-style: normal;
  margin-bottom: 9px;
}
.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}
.list-link {
  color: var(--links-color);
}

.list-link:hover,
.list-link:focus {
  color: var(--accent-color);
}
/* button */
.button {
  font-family: inherit;
  font-weight: var(--font-weight-title);
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button.primary {
  background: var(--accent-color);
  color: var(--primary-white-color);
}
.button.primary:hover,
.button.primary:focus {
  color: var(--primary-white-color);
  background: #188ce8;
}
.button.secondary {
  color: var(--title-text-color);
  background: var(--additional-color-section);
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
}

/* portfolio */
.btn {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}
.btn-item {
  margin-right: 8px;
}
.btn-item:nth-child(5n) {
  margin-right: 0;
}
/* progects */
.progects {
  display: flex;
  flex-wrap: wrap;

  margin-right: -30px;
  margin-bottom: -30px;
}
.progects-item {
  width: 370px;
  margin-right: var(--main-margin);
  margin-bottom: var(--main-margin);

  border: 1px solid #eeeeee;
}
.progects-wrap {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.progects-title {
  color: var(--title-text-color);
  font-weight: var(--font-weight-title);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.progects-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
}
